[Unit]
Description=Aspnet 6 Web App running on Linux
[Service]
WorkingDirectory=/home/azureuser/simple-web-app/
ExecStart=/usr/dotnet/dotnet /home/azureuser/simple-web-app/simple-webapp.dll
Restart=always
RestartSec=10
SyslogIdentifier=dotnet-demo
User=azureuser
Environment=ASPNETCORE_ENVIRONMENT=Production
[Install]
WantedBy=multi-user.target